
<ul class="tree-root" droplet-root [context]="tree">
  <li droplet-preview [parent]="tree" [index]="0" [context]="tree">
    <span class="tree-element" droplet [parent]="tree" [index]="0" [context]="tree">
      node1 <button>Action</button>
    </span>
  </li>
  <li droplet-preview [parent]="tree" [index]="1" [context]="tree">
    <span class="tree-element" droplet [parent]="tree" [index]="1" [context]="tree">
      node1 <button>Action</button>
    </span>
    <ul>
      <li droplet-preview [parent]="tree" [index]="3" [context]="tree">
        <span class="tree-element" droplet [parent]="tree" [index]="3" [context]="tree">
          node1 <button>Action</button>
        </span>
      </li>
    </ul>
  </li>
</ul>

<button (click)="action()">Action</button>
