@mixin clearfix-micro() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.tree-element {
  margin: 0 8px 8px 0;
  padding: 8px;
  display: block;
  @include clearfix-micro();
}

.tree-root {
  @include clearfix-micro();
  padding: 8px 0 0 8px;
}

.highlight {
  position: absolute;
}

// Default theme

ul {
  list-style-type: none;
  padding-left: 20px;
}

.tree-element {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
  font-size: 13px;
  button {
    float: right;
    margin: -3px;
  }
}

.highlight {
  border: 1px solid blue;
}
