.border-glow {
    outline: none;
    border: 1px solid rgba(65,149,252,0.55);
    border-radius: 2px;
    box-shadow: 0 0 14px #9ecaed;
    margin: -4px;
    padding: 3px;
}

.jacob-js-anchor {
  position: relative;
}

// element.getBoundingClientRect();
.jacob-js-animation {
  position: relative;
  top: -0;
}
