<div *ngFor="let element of elements">
  <div #elementView class="jacob-element" *ngIf="element._jacob && element._jacob.box"
    [style.left] = "element._jacob.box.x + 'px'"
    [style.top]  = "element._jacob.box.y + 'px'"
    [style.width]  = "element._jacob.box.width + 'px'"
    [style.height] = "element._jacob.box.height + 'px'"> <button>Test</button>
	<div class="target top"></div>
	<div class="target bottom"></div>
	<div class="target left"></div>
	<div class="target right"></div>
  </div>
  <jacob-preview *ngIf="element.elements" [elements]="element.elements" [dndBackend]="dndBackend" [dndRegistry]="dndRegistry"></jacob-preview>
</div>
